body {
  background: url(../img/bg/bg-lines.png);
  background-repeat: repeat-y;
  background-position: center;
  background-size: initial;
  font-family: sans-serif;
  padding-bottom: 100px;
}

.container {
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 1254px) {
  .container {
    width: 1224px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
  }
}

.relative {
  position: relative;
}

.read-more {
  color: #333333;
  font-family: "leaguespartan-bold" sans-serif;
  font-size: 9px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 5.4px;
  text-decoration: none;
  position: relative;
  padding-bottom: 10px;
  display: inline-block;
}

.read-more::after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  height: 2px;
  background-color: #5da8ef;
  opacity: 0.7;
}

.title {
  color: #333333;
  font-family: 'Playfair Display', serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.42px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.subtitle {
  display: block;
  color: #5da8ef;
  font-family: "leaguespartan-bold" sans-serif;
  font-size: 9px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 5.4px;
  text-align: center;
}

.nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1254px) {
  .nav-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 128px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.logo {
  width: 100%;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (min-width: 1254px) {
  .logo {
    margin-right: 190px;
    padding-top: 0;
    padding-bottom: 0;
    width: auto;
  }
}

.nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

@media (min-width: 768px) {
  .nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: auto;
  }
}

.nav__item {
  text-align: center;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .nav__item {
    margin-bottom: 0;
    margin-right: 40px;
  }
  .nav__item:last-child {
    margin-right: 0;
  }
}

.nav__link {
  font-family: "leaguespartan-bold" sans-serif;
  color: #0b0c11;
  font-size: 9px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5.58px;
  line-height: 1;
  text-decoration: none;
}

.slide-wrapper {
  position: relative;
}

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.slide__text {
  background-color: #fff;
  padding: 25px;
  padding-bottom: 10px;
  min-width: 260px;
  max-width: 680px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 20%);
          transform: translate(-50%, 20%);
  -webkit-box-shadow: -16px 0px 65px rgba(11, 12, 17, 0.2);
          box-shadow: -16px 0px 65px rgba(11, 12, 17, 0.2);
  text-align: center;
}

@media (min-width: 1254px) {
  .slide__text {
    background-color: transparent;
    text-align: left;
    padding: 0;
    top: 50%;
    bottom: auto;
    left: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 500px;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.slide__heading {
  color: #0b0c11;
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 10px;
}

@media (min-width: 920px) {
  .slide__heading {
    font-size: 42px;
  }
}

@media (min-width: 1254px) {
  .slide__heading {
    font-size: 62px;
    line-height: 64px;
    margin-bottom: 15px;
  }
}

span {
  display: block;
  color: #5da8ef;
  font-family: "leaguespartan-bold" sans-serif;
  font-size: 9px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 5.4px;
  margin-bottom: 10px;
}

@media (min-width: 1254px) {
  span {
    margin-bottom: 15px;
  }
}

.slide__desc {
  color: #8f8f8f;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
}

.slide__desc p {
  margin: 0;
  padding: 0;
}

@media (min-width: 992px) {
  .slide__desc {
    width: 390px;
  }
}

.slide__img {
  width: 100%;
  height: 372px;
  background: url(../img/img/img-header.jpg) no-repeat center/cover;
  -webkit-box-shadow: -16px 25px 65px rgba(11, 12, 17, 0.2);
          box-shadow: -16px 25px 65px rgba(11, 12, 17, 0.2);
}

@media (min-width: 1254px) {
  .slide__img {
    width: 1016px;
    height: 572px;
  }
}

header {
  position: relative;
  margin-bottom: 95px;
}

.site-desc {
  width: auto;
  display: block;
  position: static;
}

@media (min-width: 1254px) {
  .site-desc {
    right: 30px;
    top: 170px;
    position: absolute;
    z-index: 9;
  }
}

@media (min-width: 1400px) {
  .site-desc {
    width: 12px;
    height: 12px;
    position: absolute;
    right: -50px;
    top: 58px;
  }
}

.site-desc__content {
  margin-bottom: 20px;
  margin-top: 20px;
  position: static;
  opacity: 0.3;
  color: #0b0c11;
  font-family: "leaguespartan-bold" sans-serif;
  font-size: 9px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 5.4px;
}

@media (min-width: 1254px) {
  .site-desc__content {
    opacity: 1;
    color: #fff;
    -webkit-transform: rotate(-90deg) translate(-100%, 0);
            transform: rotate(-90deg) translate(-100%, 0);
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform-origin: left top;
            transform-origin: left top;
  }
}

@media (min-width: 1400px) {
  .site-desc__content {
    opacity: 0.3;
    color: #0b0c11;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform-origin: left top;
            transform-origin: left top;
    -webkit-transform: rotate(-90deg) translate(-100%, 0);
            transform: rotate(-90deg) translate(-100%, 0);
    color: #0b0c11;
    font-family: "leaguespartan-bold" sans-serif;
  }
}

.header-social {
  width: 20px;
  position: absolute;
  right: -50px;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-social__item {
  margin-bottom: 35px;
}

.header-social__item:last-child {
  margin-bottom: 0;
}

.quote {
  padding-top: 48px;
  padding-bottom: 55px;
}

@media (min-width: 992px) {
  .quote {
    padding-top: 95px;
    padding-bottom: 110px;
  }
}

.quote-wrapper {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

@media (min-width: 992px) {
  .quote-wrapper {
    width: 610px;
    padding: 0;
  }
}

.quote-wrapper::after {
  content: "";
  width: 2px;
  height: 50px;
  background-color: #5da8ef;
  position: absolute;
  bottom: -27px;
  left: 50%;
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
}

@media (min-width: 992px) {
  .quote-wrapper::after {
    height: 100px;
    bottom: -55px;
  }
}

.quote__text {
  opacity: 0.9;
  color: #333333;
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.46;
  letter-spacing: 0.26px;
  margin-bottom: 25px;
}

@media (min-width: 992px) {
  .quote__text {
    font-size: 26px;
    line-height: 38px;
  }
}

.quote__author {
  opacity: 0.9;
  color: #333333;
  font-family: "leaguespartan-bold" sans-serif;
  font-size: 9px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 5.4px;
}

.club-desc {
  padding-top: 110px;
  padding-bottom: 95px;
}

.club-desc-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.club-desc-video {
  position: absolute;
  right: 0;
  top: 43px;
  z-index: 1;
}

.club-desc-video__control {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 68px;
  height: 68px;
  -webkit-box-shadow: -2px -2px 35px rgba(0, 0, 0, 0.13);
          box-shadow: -2px -2px 35px rgba(0, 0, 0, 0.13);
  background-color: #5da8ef;
  border-radius: 50px;
}

.club-desc-video__control img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-35%, -50%);
          transform: translate(-35%, -50%);
}

.club-desc__text {
  width: 340px;
  opacity: 0.65;
  color: #616161;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
  margin-bottom: 45px;
  margin-top: 60px;
  margin-left: 115px;
}

.club-desc__link {
  margin-left: 115px;
}

.shop {
  padding-top: 70px;
  padding-bottom: 110px;
}

.shop-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 200px;
  margin-top: 50px;
  margin-bottom: 80px;
}

.board {
  position: relative;
  width: 350px;
  height: 435px;
}

.board__img-holder {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 250px;
  height: 320px;
  background-color: #e8e8e8;
}

.board__img {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.board-desc {
  width: 200px;
  position: absolute;
  top: 196px;
  left: 216px;
}

.board__cat {
  color: #7a7a7a;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2.4px;
}

.board__title {
  color: #333333;
  font-family: 'Playfair Display', serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.26px;
}

.board-buy {
  margin-top: 38px;
  margin-left: 55px;
}

.board-buy__price {
  color: #ce60a8;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: -0.1px;
  margin-bottom: 3px;
}

.board-buy__link {
  color: #333333;
  font-family: "leaguespartan-bold" sans-serif;
  font-size: 9px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 5.4px;
}

.shop-link-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 110px;
}

.subscribe {
  width: 590px;
  margin-top: 50px;
  padding-top: 160px;
  padding-bottom: 75px;
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.subscribe::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  display: block;
  width: 2px;
  height: 100px;
  background-color: #5da8ef;
}

.title-desc {
  opacity: 0.65;
  color: #616161;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
  margin-bottom: 35px;
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe__input {
  color: #333333;
  font-family: "leaguespartan-bold" sans-serif;
  font-size: 9px;
  font-weight: 700;
  line-height: 1px;
  text-transform: uppercase;
  letter-spacing: 5.4px;
  width: 540px;
  height: 50px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
  background-color: #f5f5f5;
  border: 1px solid rgba(97, 97, 97, 0);
  padding-left: 30px;
  padding-right: 30px;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.subscribe__input:active, .subscribe__input:focus {
  border: 1px solid rgba(97, 97, 97, 0.15);
  outline: none;
}

.subscribe__submit {
  width: 50px;
  height: 50px;
  background: url(../img/controls/subscribe-arrow.svg);
  background-color: #5da8ef;
  background-repeat: no-repeat;
  background-position: center;
  background-size: initial;
  text-indent: -1000px;
  border: 0px none;
  cursor: pointer;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.subscribe__submit:hover, .subscribe__submit:focus {
  background-color: #74b4f1;
  outline: none;
}

/*

    font-family: 'Fira Sans', sans-serif;

    font-family: 'Playfair Display', serif;

    font-family: 'Poppins', sans-serif;

*/
/*# sourceMappingURL=style.css.map */