body {
    background: url(/img/bg/bg-lines.png);
    background-repeat: repeat-y;
    background-position: center;
    background-size: initial;
    font-family: sans-serif;
    padding-bottom: 300px;
}

.container {
    width: 1224px;
    margin: 0 auto;
}

.relative {
    position: relative;
}