.slide-wrapper {
    position: relative;
}

.slide {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.slide__text {
    background-color: #fff;
    padding: 25px;
    padding-bottom: 10px;
    min-width: 260px;
    max-width: 680px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 20%);
    box-shadow: -16px 0px 65px rgba(11, 12, 17, 0.2);
    text-align: center;


    @media (min-width: 1254px) {
        background-color: transparent;
        text-align: left;
        padding: 0;
        top: 50%;
        bottom: auto;
        left: 0;
        box-shadow: none;
        width: 500px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.slide__heading {
    color: #0b0c11;
    font-family: 'Playfair Display', serif;
    font-size: 62px;
    font-weight: 700;
    line-height: 64px;
    margin-bottom: 15px;
    span{
        display: block;
        color: #5da8ef;
        font-family: "leaguespartan-bold" sans-serif;
        font-size: 9px;
        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: 5.4px;
        margin-bottom: 20px;
    }
}

.slide__desc {
    width: 390px;
    color: #8f8f8f;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.35px;
    p{
        margin: 0;
        padding: 0;
    }
}

.slide__img {
    width: 1016px;
    height: 572px;
    background: url(../img/img/img-header.jpg) no-repeat center / cover;
    box-shadow: -16px 25px 65px rgba(11, 12, 17, 0.2);
}

.slide-control {
    position: absolute;
    width: 80px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
}

.slide-control-num {
    font-family: "leaguespartan-bold" sans-serif;
    font-size: 10px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 4px;
    color: #ebebeb;
    text-transform: uppercase;
}

.slide-control-num__active {
    color: #5da8ef;
}

.slide-control-num__total {
    color: #262626;
}