.nav-wrapper {
    display: flex;
    height: 128px;
    align-items: center;
}

.logo {
    margin-right: 190px;
}

.nav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav__item {
    margin-right: 40px;
    &:last-child{
        margin-right: 0;
    }
}

.nav__link {
    font-family: "leaguespartan-bold" sans-serif;
    color: #0b0c11;
    font-size: 9px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5.58px;
    line-height: 1;
    text-decoration: none;
}