@import 'base';
@import 'nav';
@import 'header-slider';
@import 'header';
@import 'quote';
@import 'club-desc';
@import 'shop';

/*

    font-family: 'Fira Sans', sans-serif;

    font-family: 'Playfair Display', serif;

    font-family: 'Poppins', sans-serif;

*/